* {
	margin: 0;
	padding: 0;
}

html {
	font-size:100%;
}

body {
	font: 62.5%/1.5 Verdana, Helvetica, Arial, sans-serif;
	background: #fff;
	color: #000;
}

div {
	margin: 8px;
}

canvas {
	border: 2px solid #000;
}

header {
  margin: 5px;
}

h1 {
    font-size: 2.0em;
}

h3 {
	font-size: 1.4em;
}

#wrapper {
	width: 90%;
	margin: 20px auto;
}

.leftFloat {
	float: left;
}

#info {
 border-width: 1px;
  border-style: solid;
  border-color: #888;
}

#info td {
  border-width: 1px;
  border-style: solid;
  border-color: #888;
  font-size: 1.2em;
  text-align: center;
  padding: 4px;
}

footer {
  position: fixed;
  bottom: 16px;
  right: 16px;
  margin: 0 auto;
}

#data {
	font-size: 2em;
}

#wrapper {
	font-size: 1.2em;
}
